# In .ebextensions/django.config
packages:
  yum:
    gcc-c++: []
    cmake: []

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: bakery_ai_manager.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: bakery_ai_manager.settings
