# Python
__pycache__/
*.pyc

# Virtual Environment (IMPORTANT)
env/
venv/
*.venv

# Frontend Applications (IMPORTANT)
bakery_billing_app/
ownerbot_frontend/

# Django
*.log
db.sqlite3

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# Firebase Credentials (IMPORTANT)
serviceAccountKey.json
client_secrets.json
