# In .ebextensions/01_django.config

# Install required system packages
packages:
  yum:
    gcc-c++: []
    cmake: []

# Set Django-specific options
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: bakery_ai_manager.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: bakery_ai_manager.settings

# Run commands after the application is set up but before it runs
container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"